
*{
    margin: 0;
    padding: 0;
}
.share-btn-container img{
    width: 3em;
    height: 3em;
    background-color: rgb(147, 72, 72);
    position: absolute;
    right: 1vw;
    top: 1vh;
    

}
#memeBtn{
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
    transition: 250ms;
  
    text-align: center;
  /* margin-left: 48vw; */
    background: #ffffff;
    color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-bottom: 1vw;

    
}
.middleOfScreen{
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: black;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    margin-bottom: auto;
    margin-top: auto;
}
@media only screen and (max-width: 600px) {
    img{
        display: block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: 100vw;
        height: auto;
       top: 25vh;
        
    }
    #memeBtn{
        margin-bottom: 0;
        margin-top: 4vh;
    }
  }